body {
	height: 100vh;
	background: #1e7e34;
	font-family: 'Poppins', sans-serif;
}

.card{
	/* max-width: 400px; */
	border: none;
	border-radius: 10px;
}

.users img{
	border-radius: 50%;
	border:none;
	margin-right: -15px;
	width: 35px;
	height: 32px;
}

.text-success{
	background-color: #D7FCDD;
	font-size: 12px;
	font-weight: 500;
	padding: 5px 16px;
	border-radius: 20px;
	margin-right: 11px;
}

.virtual-onsite-text{
	background-color: #D7FCDD;
	font-size: 12px;
	font-weight: 500;
	padding: 5px 16px;
	border-radius: 20px;
	margin-right: 11px;
}

.btn{
	border-radius: 22px;
	border: none;
}