<div class="row">
    <div class=" col-lg-4 px- pt-4 pb-4 mx-auto mt-5">
        <div class="card text-center">
            <div class="card-header">
                <h3 class=" float-start">Beer Fest</h3>
                <div class="ml-auto"><span class="text-success float-end">Tickets available</span></div>
            </div>
            <div class="card-body">
                <p class="card-text">When we declare an empty object, TypeScript infers its type to be never[] - an array that will never contain any elements.</p>
                <div class="buttons d-grid gap-2 mx-md-auto ">
                    <button class="btn btn-dark "><span>Book a seat</span></button>
                    <button class="btn btn-info "><span>More information</span></button>    
                </div>
                
            </div>
            <div class=" card-footer text-start">
                <p class="text-muted float-start col-12">10/06/20 <span class=" virtual-onsite-text float-end">**Virtual</span></p>
                <div class="footer-hosted-by col-12">
                    <p class="float-start mb-0 text-muted">Hosted by:</p>
                    <div class=" mt-0 users hosted-by-graphics float-end">
                        <img src="https://imgur.com/uRVyoG7.png">
                        <img src="https://imgur.com/2W4OOpj.png">
                        <img src="https://imgur.com/3Jkqz66.png">
                        <img src="https://imgur.com/P5kPDPG.png">    
                    </div>
                </div>
                
                
            </div>            
        </div>
    </div>
</div>